.filter-form-selection>p, .filter-form-inputs>div>p{
    margin-bottom: 0px;
    font-weight: bold;
}
.filter-form-selection{
    grid-row: 1/4;
    grid-column: 1/2;
    margin-right: 20px;
}
.filter-form-select{
    font-size: 20px;
    padding: 5px;
    width: 100%;
    min-width: min-content;
    background-color: white;
    border-radius: 0;
    border-width: 1px ;
    border-color: black;
    margin-bottom: 15px;
}
.filter-form-input{
    margin: 0 10px 10px 10px;
    font-size: 20px;
    padding: 5px;
    max-width: 155px;
}
