.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.footer>*{
    display: grid;
    justify-content: center;
}
.developer-info{
    grid-row: 1/3;
}
